{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block body %}
    <script>
    function getRandom() {
        return (Math.random() - 0.5) / 2;
    }

    function addMarker(map, lat, lng) {
        var marker = new google.maps.Marker({
          position: {lat:lat, lng:lng},
          map: map
        });
    }

    function addCircle(map, lat, lng, radius) {
        var area_of_impact = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat:lat, lng:lng},
            radius: radius
        });
    }


    function initMap() {
        var center = {lat: -0.669482, lng: 35.787419};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: center,
            mapTypeId: 'terrain',
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            }
        });

        {% for alert in alerts %}
        addCircle(map, center.lat + getRandom(), center.lng + getRandom(), 4000 + Math.random() * 1000);
        {% endfor %}

        {% for team in teams %}
        addMarker(map, center.lat + getRandom(), center.lng + getRandom());
        {% endfor %}
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7QotcvbA1NNGwDjNa5Bwh_VaOyqAN4LU&callback=initMap">
    </script>

    <script>
        function manual_toggled() {
            var manual = document.querySelectorAll('input[type=checkbox]')[0].checked;
            console.log("Sending /set_manual/" + manual);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/set_manual/" + manual, true);
            xhttp.send();
            xhttp.onload = function() {
                console.log("Toggled response received");
            }
        }
    </script>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error.status}} - {{error.status}}
        </div>
    {% else %}
    <div class="jumbotron" style="margin-top:10px; margin-bottom:10px;">
      <h1> Smart Alert
          <div class="toggle">
            <a onclick="manual_toggled();" >
                <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="AUTOMATIC MODE" data-off="MANUAL MODE" >
            </a>
          </div>
      </h1>
      <span class="badge badge-pill badge-success">15 TEAMS ON DUTY</span> <br>
      <span class="badge badge-pill badge-info">0 OUSTANDING ALERTS</span>
    </div>

        <div id="map" style="height: 60%;width: 100%" ></div>
        {% for alert in alerts %}
            <a href="alert/{{alert.uuid}}">
                <div class="card text-white bg-{{alert.style}} mb-3">
                    <div class="card-header">Time: {{alert.datetime}}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{alert.name|capitalize}}</h4>
                        <p class="card-text">{{alert.label}}
                            {% if alert.isIntruder %}
                                <img alt="Intruder" src="{{ url_for('static', filename='icons/intruder.svg') }}" style="height: 60px; float: right"//>
                            {% endif %}
                            {% if alert.isArmed %}
                                <img class="img-flipped" alt="Armed" src="{{ url_for('static', filename='icons/armed.svg') }}" style="height: 60px; float: right"//>
                            {% endif %}
                            {% if alert.isSensor %}
                                <img class="img-flipped" alt="Sensor" src="{{ url_for('static', filename='icons/camera.svg') }}" style="height: 60px; float: right"//>
                            {% endif %}
                        </p>
                        <p>{{alert.state_text|capitalize}}</p>
			<img alt="{{alert.name}}" src="/static/icons/{{alert.name}}.svg" style="height: 100px; float: left"/>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif%}
{% endblock %}
