{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
    <script>
    function initMap() {
        deltaLat = (Math.random() - 0.5) / 2;
        deltaLon = (Math.random() - 0.5) / 2;
        var center = {lat: -0.669482 + deltaLat, lng: 35.787419 + deltaLon};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: center,
            mapTypeId: 'terrain'
        });

        var area_of_impact = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: center,
            radius: 8000,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            }
          });
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7QotcvbA1NNGwDjNa5Bwh_VaOyqAN4LU&callback=initMap">
    </script>

    <div class="container" style="height: 100%">

      <div class="jumbotron" style="margin-top:5px; margin-bottom:5px;">
        <h1>{{alert.name}}</h1>
         <div class="badge badge-success" style="width:100%; padding:10px; font-size:18px; font-weight: 400;">STATUS: ACKNOWLEDGED</div>


      </div>


        {% if error %}
            <div class="alert alert-danger" role="alert">
                <p>Error:</p>
                <p>{{error.status}} - {{error.status}}</p>
            </div>
        {% else %}
            <div id="map" style="height: 50%;width: 100%"></div>
            <div class="jumbotron" style="font-size:20px; margin-top:10px;">
            <h5>Type: {{alert.name}}</h5>
            <h5>Time: {{alert.datetime}}</h5>
            <h5>Label: {{alert.label|default("No label received", true)}}</h5>
          </div>

          <div class="alert alert-success" role="alert">
            18:43 pm - Acknowledged, ranger John Newton
          </div>
          <div class="alert alert-danger" role="alert">
            18:53 pm - Observed poacher chasing beautiful lion
          </div>
          <div class="alert alert-warning" role="alert">
            18:55 pm - Chasing target - target armed
          </div>
          <div class="alert alert-success" role="alert">
            18:58 pm - Target Acquired John Newton
          </div>
          <div class="alert alert-warning" role="alert">
            17:01 pm - Other poachers seen in distance
          </div>
          <div class="alert alert-success" role="alert">
            21:43 pm - Reported back to Colonel Vlad
          </div>
          <br><br>
        {% endif %}
    </div>
{% endblock %}
