{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
    <script>
    function initMap() {
        var center = {lat: -0.669482, lng: 35.787419};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: center,
            mapTypeId: 'terrain'
        });

        var area_of_impact = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: center,
            radius: 8000
          });
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7QotcvbA1NNGwDjNa5Bwh_VaOyqAN4LU&callback=initMap">
    </script>

    <h1>Alert</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <p>Error:</p>
            <p>{{error.status}} - {{error.status}}</p>
        </div>
    {% else %}
        <div id="map" style="height: 500px;width: 500px"></div>
        <h3>Status: <span class="badge badge-success">Acknowledged</span></h3>
        <h3>Type: {{alert.name}}</h3>
        <h3>Time: {{alert.datetime}}</h3>
        <h3>Label: {{alert.label|default("No label received", true)}}</h3>
    {% endif %}
{% endblock %}