<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper/popper-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>

    <style>
    a:hover
    {
      text-decoration: none;
    }

    .ranger
    {
      margin-bottom: 5px;
    }
    .ranger:hover
    {
      font-weight: bold;
    }
    </style>

    {% block head %}
    <h1>PLEASE DEFINE A "head" BLOCK</h1>
    {% endblock %}
</head>

<body>
  <!-- Just an image -->
    {% block full_body %}
        <div class="container" style="height: 100%">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img alt="Home" src="{{ url_for('static', filename='icons/home.svg') }}"/>
                </a>
                <a class="navbar-brand" href="/teams_or_rangers/">
                    <img alt="People" src="{{ url_for('static', filename='icons/team.svg') }}"/>
                </a>

            </nav>
            {% block body %}
            <h1>PLEASE DEFINE A "body" BLOCK</h1>
            {% endblock %}
        </div>
    {% endblock %}
</body>

</html>
