{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}

      <br><br>
      <a href="{{ url_for("teams") }}">
        <button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-trash"></span>TEAMS</button>
      </a>
      <br>
      <a href="{{ url_for("rangers") }}">
        <button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-bullhorn">RANGERS</span></button>
      </a>
      <br><br>
{% endblock %}
