{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}

  <div class="jumbotron">
    <h1>Team Sector 5</h1>
  </div>

  <div class="page-header">
    <h2>Team information</h2>
  </div>

<div>
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Team members
    <span class="badge badge-default badge-pill" style="background:#000">8 RANGERS</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Team sector
    <span class="badge badge-default badge-pill" style="background:#000">NORTH-EAST</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    On duty
    <span class="badge badge-default badge-pill" style="background:#000">08:00 - 14:00</span>
  </li>
</ul>

</div>
<br><br>
<div class="page-header">
  <h2>Team members</h2>
</div>

<div>

  <ul class="list-group">
  <a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    John Newton
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
</a>
<a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    Sean Francesco
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
</a>
<a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    Dean Macmiller
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
</a>
<a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    John Newton
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
</a>
<a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    Sean Francesco
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
  </a>
  <a href="../ranger/ranger1">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="background: #4f92df; color: #fff;">
    Dean Macmiller
    <span class="badge badge-default badge-pill" style="color:#000000; background-color:#ffffff;">View Profile</span>
  </li>
  </a>
</ul>

</div>
<br>
<br>

  <button type="button" class="btn btn-primary btn-lg btn-block">ADD TEAM</button>

  <br>
  <br>


{% endblock %}
